body{background-image:url(https://www.ikerbasque.net/sites/default/files/crystal-grid-3185671_640.png);
  background-size:cover;
background-repeat:no repeat;}
h1{font-family:Garamond;
    font-size:32px;
  font-style:italic;
  color:#B4AB66;}
h2{font-family:Garamond;
    font-size:32px;
  font-style:italic;
  color:#B4AB66;}
h3{font-family:Garamond;
    font-size:32px;
  font-style:italic;
  color:#B4AB66;}
h4{font-family:Garamond;
    font-size:32px;
  font-style:italic;
  color:#B4AB66;}
ul{font-family:Garamond;
    font-size:28px;
    color:#D3EAD0;
padding: 50px 100px 70px  100px;
justify-content:center;}

p{font-family:Georgia;
    font-size:16px;
  font-style:;
  color:#D3EAD0}


#chem1 {width:600px; display:block; margin:auto;}
#chem2 {width:400px;display:block; margin:auto;}
#chem3 {width:400px;display:block; margin:auto;}
#chem4 {width:400px;display:block; margin:auto;}
#chem5 {width:400px;display:block; margin:auto;}
#q6 {width:1000px;display:block; margin:auto;}
#chem7 {width:500px;display:block; margin:auto;}




